[Unit]
Description=Run openstack-neutron-setup (once)
Wants=openstack-neutron-network-configuration-one-node.service
After=network-online.target openstack-keystone-setup.service openstack-neutron-network-configuration-one-node.service postgres-server.service

[Service]
Type=oneshot
ExecStart=/usr/share/openstack/openstack-neutron-setup
Restart=no
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
