[Unit]
Description=Run openstack-neutron-setup (once)
After=network-online.target openstack-keystone-setup.service openvswitch-create-links-one-node.service postgres-server.service

[Service]
Type=oneshot
ExecStart=/usr/share/openstack/openstack-neutron-setup
Restart=no
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
