[Unit]
Description=Create Veth pairs
Wants=openstack-neutron-network-configuration-one-node.service
After=network-online.target openstack-neutron-network-configuration-one-node.service

[Service]
Type=oneshot
ExecStart=/usr/share/openstack/create_openvswitch_veth_pairs
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=multi-user.target

